apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: aiops-sre-app
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: aiops-sre-app
  endpoints:
    - port: http
      path: /metrics
      interval: 15s

